/* #container {
	text-align: center;
}

#text {
	display: inline-block;
	vertical-align: middle;
	color: white;
	letter-spacing: 2px;
}

#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 2.5px;
	height: 30px;
	background-color: white;
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to {
		background-color: transparent
	}
	50% {
		background-color: white;
	}
} */



/* html,body {
  font-family: 'Raleway', sans-serif;

  font-size: 18px;

  color: #ffffff !important;
}

h1,h2 {
	  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  margin: 0.4em 0;
	color: #ffffff !important;
}
h1 { font-size: 3.5em; }
h2 {
  color: #ffffff !important;
  font-size: 2em;

} */
